<h1>Add a new task</h1>
<form action="create" method="post" accept-charset="utf-8">
  <label for="Title">Task Title</label>
  <input type="text" name="title" id="title" />
  <label for="Description">Task Description</label>
  <input type="text" name="description" id="description" />
  <input type="submit" value="Add Task" />
</form>
