// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: Helvetica;
}

body {
  width: 70vw;
  margin: auto;
}

h1 {
  font-size: 3vw;
  padding: 3vw;
  text-align: center;
}

input {
  background-color: #d8d8d8;
  padding: .5vw;
  margin: .5vw 0;

}

li {
  list-style: none;
  height: 2vw;
}

li div {
  display: inline-block;
}

li div:first-of-type,
li div:nth-of-type(3), {
  width: 4vw;
}

li div:nth-of-type(2) {
  width: 30vw;
}

li div:nth-of-type(4),{
  width: 8vw;
}

.button {
  background-color: none;
  border: none;
}
